doctype html
html(lang='en')
    head
        title #{title} - Submit Server

        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", type="text/css")
        link(rel="stylesheet", href="static/style.css", type="text/css")
    body
        include includes/navbar.pug
        .container-fluid
            .base-container
                block content