extends base.pug

block content
    form.card.login-container(action="/createAccount", method="post", enctype="application/x-www-form-urlencoded")

        h1(align="center") Create Account
        hr
        .form-group
            label(for="username") Username
            input#username.form-control(type="text", name="username")
        .form-group
            label(for="password") Password
            input#password.form-control(type="password", name="password")
        .form-group
            label(for="confirm-password") Confirm Password
            input#confirm-password.form-control(type="password", name="confirm_password")

        button.btn.btn-primary(type="submit") Register
        