extends base.pug

block content
    .card.home-container
        h1 Welcome to the Submit Server
        
        div(style="flex:1; flex-direction:row; justify-content:space-evenly; align-items:center")
            a.btn.btn-primary(href="/login") Login
            a.btn.btn-info(href="/createAccount") Create Account
        