extends base.pug

block content
    form.card.login-container

        h1(align="center") Login
        hr
        .form-group
            label(for="username") Username
            input#username.form-control(type="text")
        .form-group
            label(for="password") Password
            input#password.form-control(type="text")

        button.btn.btn-primary(type="submit") Login
        