extends base.pug

block content

    h1 #{user.username}

    hr

    // placeholder
    ul.list-group
        li.list-group-item Programming 1
        li.list-group-item Algorithms and Data Structures
        li.list-group-item Analysis of Algorithms
        li.list-group-item Software Design
        li.list-group-item AI with LISP
        li.list-group-item Graphics
