extends base

block content

    .result-container
        .card(style="padding: 2%;")
            ul.list-group
                each val, i in score
                    if val
                        li.list-group-item(style="background-color:#5cb85c;color:white;") #{i+1}
                    else
                        li.list-group-item(style="background-color:#d9534f;color:white;") #{i+1}
                    
        .card(style="padding: 2%;")
            p(style="white-space: pre-wrap;") #{content}