extends ../base.pug

block content

    h1.m-3 Admin Console

    .card
        .card-header Fields
        ul.list-group.list-group-flush
            li.list-group-item.d-flex.justify-content-between.align-items-center Users
                div
                    a.badge.badge-info.badge-pill.m-1(href="#") + Add
                    a.badge.badge-primary.badge-pill.m-1(href="/admin/users") Manage
            li.list-group-item.d-flex.justify-content-between.align-items-center Courses
                div
                    a.badge.badge-info.badge-pill.m-1(href="#") + Add
                    a.badge.badge-primary.badge-pill.m-1(href="/admin/courses") Manage
